google-generativeai
duckduckgo-search
youtube-search-python
youtube-transcript-api
newspaper3k
lxml_html_clean
langchain
langchain-community
langchain-text-splitters
faiss-cpu
yt-dlp
pydantic
# Pinning httpx to avoid proxy error in youtube-search-python while maintaining compatibility
httpx>=0.27.0,<0.28.0
